USE [REFER]
GO
/****** Object:  Table [dbo].[BAC02000]    Script Date: 21/12/2021 14:07:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAC02000](
	[JRNENTRY] [int] NOT NULL,
	[SEQNUMBR] [int] NOT NULL,
	[ACTINDX] [int] NOT NULL,
	[ORDBTAMT] [numeric](19, 5) NOT NULL,
	[ORCRDAMT] [numeric](19, 5) NOT NULL,
	[USER2ENT] [char](15) NOT NULL,
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PKBAC02000] PRIMARY KEY CLUSTERED 
(
	[JRNENTRY] ASC,
	[ACTINDX] ASC,
	[SEQNUMBR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BEF00500]    Script Date: 21/12/2021 14:07:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BEF00500](
	[RPRTNAME] [char](31) NOT NULL,
	[Lvl] [smallint] NOT NULL,
	[ACTNUMST] [char](129) NOT NULL,
	[ACTDESCR] [char](51) NOT NULL,
	[Visible] [tinyint] NOT NULL,
	[CURRNIDX] [smallint] NOT NULL,
	[DecimalDigits] [smallint] NOT NULL,
	[DEX_ROW_ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BEF00500] ON 

INSERT [dbo].[BEF00500] ([RPRTNAME], [Lvl], [ACTNUMST], [ACTDESCR], [Visible], [CURRNIDX], [DecimalDigits], [DEX_ROW_ID]) VALUES (N'RPTBGRAL                       ', 1, N'1                                                                                                                                ', N'ACTIVOS                                            ', 0, 0, 1, 1)
INSERT [dbo].[BEF00500] ([RPRTNAME], [Lvl], [ACTNUMST], [ACTDESCR], [Visible], [CURRNIDX], [DecimalDigits], [DEX_ROW_ID]) VALUES (N'RPTBGRAL                       ', 1, N'2                                                                                                                                ', N'PASIVO                                             ', 0, 0, 1, 2)
INSERT [dbo].[BEF00500] ([RPRTNAME], [Lvl], [ACTNUMST], [ACTDESCR], [Visible], [CURRNIDX], [DecimalDigits], [DEX_ROW_ID]) VALUES (N'RPTBGRAL                       ', 1, N'3                                                                                                                                ', N'PATRIMONIO                                         ', 0, 0, 1, 3)
SET IDENTITY_INSERT [dbo].[BEF00500] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [PKBEF00500]    Script Date: 21/12/2021 14:07:57 ******/
ALTER TABLE [dbo].[BEF00500] ADD  CONSTRAINT [PKBEF00500] PRIMARY KEY NONCLUSTERED 
(
	[RPRTNAME] ASC,
	[Lvl] ASC,
	[ACTNUMST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
